{{#nav-panel}}
  {{#nav-panel/header}}Current rankings{{/nav-panel/header}}

  {{#nav-panel/content}}
    {{result-announcement}}

    <ul class="ladder-rankings">
      {{#each model as |player|}}
        <li class="ladder-rankings-player">
          <span class="ladder-rankings-rank"><span class="text">{{player.rank}}.</span></span>
          <span class="ladder-rankings-name">{{player.name}}</span>
          <span class="ladder-rankings-score">{{player.score}}</span>
        </li>
      {{/each}}
    </ul>
  {{/nav-panel/content}}

  {{#nav-panel/actions}}
    {{nav-panel/actions/link route='players.new' title="New player" icon='add-friend'}}
    {{nav-panel/actions/link route='results.new' title="New result" icon='trophy'}}
    {{nav-panel/actions/link route='results.index' title="Past results" icon='history'}}
  {{/nav-panel/actions}}
{{/nav-panel}}
