<header>
  <h1 class="nav-panel-title">{{yield}}</h1>
  {{#if back}}
    {{#link-to back classNames='app-icon app-icon-back pull-left' data-dst=back}}<span class="text">back</span>{{/link-to}}
  {{/if}}
</header>
