@import 'mixins/measures';

%app-icon-before {
  position: absolute;
  top: ($icon-container-height - $icon-height)/2;
  content: '';
  display: block;
  height: $icon-height;
  width: $icon-width;
  line-height: $content-row-height;
}

.app-icon {
  position: relative;
  display: block;
  margin: 0 auto;
  height: $icon-container-height;
  width: $icon-container-default-width;
  text-indent: -9999em;

  &.pull-left {
    position: absolute;
    left: 0;
    top: 0;
  }

  &.pull-right {
    position: absolute;
    right: 0;
    top: 0;
  }

  & > .text {
    position: absolute;
    left: -99999em;
  }

  &.app-icon-add-friend::before {
    @extend %app-icon-before;
    background: url('/assets/images/add-friend.svg') center no-repeat;
  }

  &.app-icon-back::before {
    @extend %app-icon-before;
    background: url('/assets/images/back.svg') center no-repeat;
  }

  &.app-icon-history::before {
    @extend %app-icon-before;
    background: url('/assets/images/history.svg') center no-repeat;
  }

  &.app-icon-two-bats::before {
    @extend %app-icon-before;
    background: url('/assets/images/two-bats.svg') center no-repeat;
  }

  &.app-icon-trophy::before {
    @extend %app-icon-before;
    background: url('/assets/images/trophy.svg') center no-repeat;
  }
}
