@import 'mixins/typography';

.btn {
  border: none;

  &.btn-block {
    @extend .content-row;
    font-size: $btn-block-font-size;
  }

  &.btn-positive {
    background: #44ff33;

    &[disabled] {
      background: #bbffaa;
    }
  }
}
