@import 'mixins/measures';
@import 'mixins/colors';
@import 'mixins/typography';

.nav-panel-header {
  position: relative;
  height: $nav-panel-header-height;
  line-height: $nav-panel-header-height;
  font-size: $nav-panel-header-font-size;
  background: $nav-panel-header-background-color;
  color: $nav-panel-header-color;

  text-align: center;
}
