<form class="common-form result-form">
  <div class="result-form-pickers">
    <div class="result-candidates result-candidates-winner">
      <header class="result-candidates-header">Winner</header>
      <div class="result-candidates-players">
        {{sliding-selector options=winnerCandidates label='name' code='id' tagName='ul' eachTagName='li' eachClassName='result-candidates-player' onSelect='winnerChanged'}}
      </div>
    </div>
    <div class="result-candidates result-candidates-loser">
      <header class="result-candidates-header">Second best</header>
      <div class="result-candidates-players">
        {{sliding-selector options=loserCandidates label='name' code='id' tagName='ul' eachTagName='li' eachClassName='result-candidates-player' onSelect='loserChanged'}}
      </div>
    </div>
  </div>

  <button {{action 'save'}} disabled={{isInvalid}} class="btn btn-positive btn-block btn-submit result-form-button">May the ladder update!</button>
</form>
