{{#each _options as |opt|}}
  {{#sliding-selector/option code=opt.code tagName=eachTagName classNames=eachClassName onSelected='selected' selected=opt.selected}}
    {{opt.label}}
  {{/sliding-selector/option}}
{{/each}}
