<div class="result-list">
  <ul>
    {{#each orderedResults as |result|}}
      <li class="result-list-result" data-created-at="{{result.createdAt}}">
        <span class="result-list-winner">{{result.winner.name}}</span>
        took
        <span class="result-list-transfer">{{result.transfer}}</span>
        points from
        <span class="result-list-loser">{{result.loser.name}}</span>
      </li>
    {{/each}}
  </ul>
</div>
