<!DOCTYPE html>
<html>
  <!--
    Credits:
      * "Back" icon: created by Lucas Olaerts - from the Noun Project
      * "Add friend" icon: created by Michael Martinho - from the Noun Project
      * "Trophy" icon: created by Edward Boatman - from the Noun Project
      * "History" icon: created by Ema Dimitrova - from the Noun Project
  -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Ladder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/ladder-client.css">

    {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="assets/ladder-client.js"></script>

    {{content-for 'body-footer'}}
  </body>
</html>
