{{#nav-panel}}
  {{#nav-panel/header back='root.show'}}Add a new player{{/nav-panel/header}}

  {{#nav-panel/content}}
    <div class="nav-panel-padding">
      {{new-player-form player=model save='save'}}
    </div>
  {{/nav-panel/content}}
{{/nav-panel}}
