<form class="common-form">
  {{input value=player.name placeholder="Player name" name="name" classNames="common-form-input-text"}}
  <button {{action 'save'}} disabled={{isInvalid}} class="btn btn-positive btn-block">Add player</button>
</form>
