{{#nav-panel}}
  {{#nav-panel/header back='root.show'}}New result{{/nav-panel/header}}
  {{#nav-panel/content}}
    {{new-result-form result=model save='save'}}
  {{/nav-panel/content}}
{{/nav-panel}}
