{{#if isPresent}}
  <div class="result-announcement">
    <div class="ra-stylewrap-winner"><div class="ra-stylewrap-loser"><div class="ra-stylewrap-content">
      <span class="winner">{{winnerName}}</span>
      won
      <span class="transfer">{{transfer}}</span>
      points from
      <span class="loser">{{loserName}}</span>
    </div></div></div>
  </div>
{{/if}}
